/target/
src/main/resources/firebase-service-account.json
src/main/resources/firebase-service-account.json
src/main/resource/firebase-service-account.json
src/main/resources/firebase-service-account.json
